[package]
authors = ['GalacticCouncil']
edition = '2018'
homepage = 'https://github.com/galacticcouncil/hydradx-math'
license = 'Apache-2.0'
name = "hydra-dx-math"
description = "A collection of utilities to make performing liquidity pool calculations more convenient."
repository = 'https://github.com/galacticcouncil/hydradx-math'
version = "3.2.0"

[dependencies]
primitive-types = {default-features = false, version = '0.8.0'}
num-traits = {default-features = false, version = "0.2.14"}
fixed = "1.9.0"
lazy_static = {features = ['spin_no_std'], version = '1.4.0'}

[dev-dependencies]
rand = { version = "0.7", default-features = false }
rand_xoshiro = "0.4"
criterion = "0.3"
approx = "0.3.0"

[features]
default = ["std"]
std = []
p12 = ['lazy_static/spin_no_std']

[[bench]]
name = "benchmarks"
harness = false
